@page "/auth/ForgotPasswordConfirmation"

@layout AuthLayout

<PageTitle>Forgot password confirmation</PageTitle>

<div class="d-flex justify-content-center align-items-start" style="margin-top: 5vh;">
    <div class="col-md-4">
        <section class="text-center p-4 rounded shadow bg-white">
            <h1>Forgot password confirmation</h1>
            <p>
                Please check your email to reset your password.
            </p>

        </section>
    </div>
</div>