@page "/auth/InvalidPasswordReset"

@layout AuthLayout

<PageTitle>Invalid password reset</PageTitle>

<div class="d-flex justify-content-center align-items-start" style="margin-top: 5vh;">
    <div class="col-md-4">
        <section class="text-center p-4 rounded shadow bg-white">
            <h1>Invalid password reset</h1>
            <p>
                The password reset link is invalid.
            </p>

        </section>
    </div>
</div>