@page "/auth/login"
@layout AuthLayout



<div class="d-flex justify-content-center align-items-start" style="margin-top: 5vh;">
    <div class="col-md-4">
        <section class="text-center p-4 rounded shadow bg-white">
            <h1>Log in</h1>
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label for="email" class="form-label">Email</label>
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label for="password" class="form-label">Password</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a href="auth/ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a href="auth/register" >Register as a new user</a>
                    </p>
                </div>
            </EditForm>
        </section>
    </div>
</div>

