@page "/auth/RegisterConfirmation"

@layout AuthLayout

<PageTitle>Register confirmation</PageTitle>

<div class="d-flex justify-content-center align-items-start" style="margin-top: 5vh;">
    <div class="col-md-4">
        <section class="text-center p-4 rounded shadow bg-white">
            <p>Please check your email to confirm your account.</p>

        </section>
    </div>
</div>
