@page "/auth/ResetPasswordConfirmation"

@layout AuthLayout

<PageTitle>Reset password confirmation</PageTitle>

<div class="d-flex justify-content-center align-items-start" style="margin-top: 5vh;">
    <div class="col-md-4">
        <section class="text-center p-4 rounded shadow bg-white">
            <h1>Reset password confirmation</h1>
            <p>
                Your password has been reset. Please <a href="auth/Login">click here to log in</a>.
            </p>

        </section>
    </div>
</div>