@using DemoProject.Client.Service
@using DemoProject.DataModels.Dto.Response
<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">DemoProject.Client</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="nav flex-column">
		<div class="nav-item px-3">

			@foreach (var item in notes.UserNoteDtos)
			{
				<NavLink class="nav-link"  @onclick="() => NavigateToNote(item.Url)">
					<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> @item.ShortDescription
				</NavLink>
			}
		</div>
	</nav>
</div>

@code {

	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	[Inject]
	private NavigationManager NavigationManager { get; set; }

	[Inject]
	private NoteService noteService { get; set; } = null!;

	private GetUserNoteResponseDto notes = new();

	
	protected async override Task OnInitializedAsync()
	{
		notes = await noteService.GetUserNotes();

	 base.OnInitializedAsync();
	}


	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
	private void NavigateToNote(string url)
	{
		NavigationManager.NavigateTo("/"+url,true);
	}
}
