@page "/Note/{url?}"
@using DemoProject.Client.Service

<RadzenHtmlEditor @bind-Value=@htmlValue Input="OnInput" Execute="OnExecute" style="height: 450px;">
	<RadzenHtmlEditorUndo />
	<RadzenHtmlEditorRedo />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorBold />
	<RadzenHtmlEditorItalic />
	<RadzenHtmlEditorUnderline />
	<RadzenHtmlEditorStrikeThrough />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorAlignLeft />
	<RadzenHtmlEditorAlignCenter />
	<RadzenHtmlEditorAlignRight />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorIndent />
	<RadzenHtmlEditorOutdent />
	<RadzenHtmlEditorUnorderedList />
	<RadzenHtmlEditorOrderedList />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorColor />
	<RadzenHtmlEditorBackground />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorRemoveFormat />
	<RadzenHtmlEditorSubscript />
	<RadzenHtmlEditorSuperscript />

	<RadzenHtmlEditorSeparator />

	<RadzenHtmlEditorLink />
	<RadzenHtmlEditorUnlink />
	<RadzenHtmlEditorImage />
	<RadzenHtmlEditorFontName />
	<RadzenHtmlEditorFontSize />
	<RadzenHtmlEditorFormatBlock />

	<RadzenHtmlEditorSeparator />


	<RadzenHtmlEditorCustomTool CommandName="ChangeUrl" Icon="edit"/>
</RadzenHtmlEditor>

<ChangeUrlComponent Value="@url" isOpen="IsOpen" OnSave="OnModalSave"/>

@* <button class="btn btn-primary" @onclick="OnButtonClick">CHANGE URL</button> *@


@code{
	string htmlValue = string.Empty;
	[Parameter]
	public string? url{ get; set; }

	[Inject] NavigationManager Nav { get; set; } = null!;
	[Inject] NoteService NoteService { get; set; } = null!;
	[Inject] IJSRuntime JSRuntime { get; set; } = default!;

	private bool IsOpen { get; set; } = false;

	private void OnButtonClick()
	{
		IsOpen = true;
	}

	private async Task OnModalSave(string newUrl)
	{
		var newurl =await NoteService.ChangeUrlAsync(url, newUrl);
		if(newurl == true)
		{
			Nav.NavigateTo($"/Note/{newUrl}", true);
		}
		else
		{
			await JSRuntime.InvokeVoidAsync("alert", "Error changing URL!");
		}


	}

	private void OnExecute(HtmlEditorExecuteEventArgs args)
	{
		if (args.CommandName == "ChangeUrl")
		{
			IsOpen = true;
		}


	}


	CancellationTokenSource cancellationToken;



	protected override async Task OnInitializedAsync()
	{
		if(string.IsNullOrEmpty(url))
		{
			url = Guid.NewGuid().ToString("N");
			Nav.NavigateTo($"/Note/{url}", true);

		}
		else
		{
			var note = await NoteService.GetNoteByUrl(url);

			if(note != null)
			{
				htmlValue = note;
			}
		}

		base.OnInitializedAsync();

	}

	async Task OnInput(string html)
	{
		cancellationToken?.Cancel();

		cancellationToken?.Dispose();

		cancellationToken = new CancellationTokenSource();

		try
		{
			var token = cancellationToken.Token;
			await Task.Delay(5000,token);

			if(!token.IsCancellationRequested)
			{
				var result = await NoteService.CreateOrEditNoteAsync(url, html);
				if (!result)
				{
					await JSRuntime.InvokeVoidAsync("alert", "Error saving note!");
				}
			}			
		}
		catch(Exception e)
		{
			// Ignore
		}
	}

	
}

